@mixin outline($color) {
    outline: 2px solid $color;
}

@mixin float-left() {
    float: left;
}

@mixin float-right() {
    float: right;
}

@mixin float-none() {
    float: none;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}