%norm {
    &-mp {
        margin: 0;
        padding: 0;
    }
    &-list {
        list-style-type: none;
        @extend %norm-mp;
        li {
            list-style-type: none;
            @extend %norm-mp;
        }
    }
}
